<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:include="th-fragments :: head" />
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container" role="main">
  <nav th:replace="th-fragments :: nav"></nav>

<h3>EDIT ATTRIBUTES</h3>
<br>
  <h6>Locations</h6>
  <div class="container">
    <a th:each="location : ${locations}" class="btn btn-success" style="border-radius: 1rem; margin-right: 10px"
       th:href="@{${'/admin/' + location.id + '/editLocation'}}"
       th:text="${location.name}"></a>
    <br>
    <br>
    <h6>Edit or add new Location:</h6>
    <form class="form-group form-control-lg" id="location" action="#" th:action="@{/admin/addLocation}" th:object="${newLocation}" method="post">
      <input type="hidden" name="locationid" th:value="${newLocation.id}"/>
      <input type="text" name="newLocation" th:value="${newLocation.name}"/>
      <input type="submit" class="btn btn-primary" style="margin-left: 5px" value="Submit"/>
      <!--<a th:if="${newLocation.name} != null" class="btn btn-danger"-->
         <!--th:href="'/admin/' + ${newLocation.id} + '/deleteLocation'">Delete</a>-->
      <a th:if="${newLocation.name} != null" class="btn btn-info" href="/admin/">Cancel</a>
    </form>
  </div>
  <br>
<h6>Service types</h6>
  <div class="container">
<a th:each="servicetype : ${ServiceTypes}" class="btn btn-success" style="border-radius: 1rem; margin-right: 10px"
   th:href="@{${'/admin/' + servicetype.id + '/editServiceType'}}"
   th:text="${servicetype.name}"></a>
    <br>
    <br>
<h6>Edit or add new Service type:</h6>
<form class="form-group form-control-lg" id="servicetype" action="#" th:action="@{/admin/addServiceType}" th:object="${newServicetype}" method="post">
  <input type="hidden" name="servicetypeid" th:value="${newServicetype.id}"/>
  <input type="text" name="newServiceType" th:value="${newServicetype.name}"/>
  <input type="submit" class="btn btn-primary" style="margin-left: 5px" value="Submit"/>
  <a th:if="${newServicetype.name} != null" class="btn btn-danger"
     th:href="'/admin/' + ${newServicetype.id} + '/deleteServiceType'">Delete</a>
  <a th:if="${newServicetype.name} != null" class="btn btn-info" href="/admin/">Cancel</a>
</form>
  </div>
  <br>
  <h6>Atari providers</h6>
  <div class="container">
    <a th:each="atariprovider : ${atariproviders}" class="btn btn-success" style="border-radius: 1rem; margin-right: 10px"
       th:href="@{${'/admin/' + atariprovider.id + '/editAtariProvider'}}"
       th:text="${atariprovider.description}"></a>
    <br>
    <br>
    <h6>Edit or add new Atari provider:</h6>
    <form class="form-group form-control-lg" id="atariprovider" action="#" th:action="@{/admin/addAtariProvider}" th:object="${newAtariProvider}" method="post">
      <input type="hidden" name="providerid" th:value="${newAtariProvider.id}"/>
      <input type="text" name="newAtariProvider" th:value="${newAtariProvider.description}"/>
      <input type="submit" class="btn btn-primary" style="margin-left: 5px" value="Submit"/>
      <!--<a th:if="${newAtariProvider.description} != null" class="btn btn-danger"-->
         <!--th:href="'/admin/' + ${newAtariProvider.id} + '/deleteAtariProvider'">Delete</a>-->
      <a th:if="${newAtariProvider.description} != null" class="btn btn-info" href="/admin/">Cancel</a>
    </form>
  </div>
<br>
  <h6>Calendars</h6>
  <div class="container">
    <a th:each="calendar : ${calendars}" class="btn btn-success" style="border-radius: 1rem; margin-right: 10px"
       th:href="@{${'/admin/' + calendar.id + '/editAtariCalendar'}}"
       th:text="${calendar.name}"></a>
    <br>
    <br>
    <h6>Edit or add new Calendar:</h6>
    <form class="form-group form-control-lg" id="ataricalendar" action="#" th:action="@{/admin/addAtariCalendar}" th:object="${newAtariCalendar}" method="post">
      <input type="hidden" name="calendarid" th:value="${newAtariCalendar.id}"/>
      <input type="text" name="newAtariCalendar" th:value="${newAtariCalendar.name}"/>
      <br>
      <select id="newServicetypeName" name="newServicetypeName" class="selectpicker" data-show-subtext="true"
              data-live-search="true">
        <option selected>choose Service type</option>
        <div th:each="service:${ServiceTypes}">
          <option th:value="${service.name}" th:text="${service.name}"
                  th:sub-text="${service.name}"/>
        </div>
      </select>
      <select id="newAtariProviderName" name="newAtariProviderName" class="selectpicker" data-show-subtext="true"
              data-live-search="true">
        <option  selected>choose provider</option>
        <div th:each="provider:${atariproviders}">
          <option th:value="${provider.description}" th:text="${provider.description}"
                  th:sub-text="${provider.description}"/>
        </div>
      </select>
      <select id="newLocationName" name="newLocationName" class="selectpicker" data-show-subtext="true"
              data-live-search="true">
        <option  selected>choose location</option>
        <div th:each="location:${locations}">
          <option th:value="${location.name}" th:text="${location.name}"
                  th:sub-text="${location.name}"/>
        </div>

      </select>
      <input type="submit" class="btn btn-primary" style="margin-left: 5px" value="Submit"/>
      <a th:if="${newAtariCalendar.name} != null" class="btn btn-danger"
      th:href="'/admin/' + ${newAtariCalendar.id} + '/deleteAtariCalendar'">Delete</a>
      <a th:if="${newAtariCalendar.name} != null" class="btn btn-info" href="/admin/">Cancel</a>
    </form>
  </div>

</div>
<script th:replace="th-fragments :: bootstrapscripts"></script>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>