<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
</head>
<body>
    <div class="container" role="main">
        <nav th:replace="th-fragments :: nav"></nav>

        <!-- model: available locations, providers (of locations), service types (of locations), timeslots (of locations) -->

        <!-- <form action="/search", method="POST">
            <select>
                <option th:each="location : ${locationList}"
                        th:value="${location.getId()}" th:text="${location.getName()}">
                </option>
            </select>
            <button>Search</button>
        </form> -->

        <form action="/search/", method="POST">
            <select id="locationSelect">
                <option value="">Select a location …</option>
            </select>
            <select id="serviceTypeSelect" style="display: none;">
            </select>
        </form>

        <div id="selectedInformation"></div>

    </div>

    <script type="text/javascript" src="/js/search-script.js"></script>
    <script th:replace="th-fragments :: bootstrapscripts"></script>
</body>
</html>