<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
</head>
<body>
    <div class="container" role="main">
        <nav th:replace="th-fragments :: nav"></nav>

        <form action="/search/submit", method="POST">
            <select name="locationId" id="locationSelect">
                <option value="">Select a location …</option>
            </select>
            <select name="serviceTypeId" id="serviceTypeSelect" style="display: none;">
            </select>
            <select name="serviceProviderId" id="serviceProviderSelect" style="display: none;">
            </select>
            <input type="submit" id="submitButton" style="display: none;" value="Search">
        </form>

        <div id="selectedInformation"></div>

    </div>

    <script type="text/javascript" src="/js/search-script.js"></script>
    <script th:replace="th-fragments :: bootstrapscripts"></script>
</body>
</html>