<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
</head>
<body>
<div class="container" role="main">
    <nav th:replace="th-fragments :: nav"></nav>
    <div class="page-header">
        <h2>Time Slots for this Calendar</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div th:if="${errors != null}" th:text="${errors}" class="alert alert-danger" role="alert"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Begin Time</th>
                    <th>End Time</th>
                    <th>Booked</th>
                    <th>Comments</th>
                    <th>Booked By</th>
                    <th>COMMAND</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="timeSlotDTO : ${timeSlotDTOs}">
                    <td th:text="${timeSlotDTO.beginTime}"></td>
                    <td th:text="${timeSlotDTO.endTime}"></td>
                    <td th:text="${timeSlotDTO.booked}"></td>
                    <td th:text="${timeSlotDTO.comments}" align="right"></td>
                    <td th:text="${timeSlotDTO.bookedByName}" align="right"></td>
                    <td>
                        <form th:object="${bookSlotDTO}" method="post" action="#" th:action="@{/book}" class="form-inline">
                            <input type="hidden" name="timeSlotId" th:value="${timeSlotDTO.timeSlotId}"/>
                            <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0">Book now</button>
                            <div th:if="${#fields.hasErrors('all')}" th:errors="*{all}" class="alert alert-danger" role="alert"></div>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<script th:replace="th-fragments :: bootstrapscripts"></script>
</body>
</html>